@model IEnumerable<Projet.Album>
@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>
@using (Html.BeginForm("ListeAlbumsRecherche", "Albums"))
{
    @Html.TextBox("alb")
    <input type="submit" value="Rechercher" />
}



<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Année
        </th>
        <th>
            @*Pochette*@
        </th>
    </tr>

    @foreach (var item in Model )
            {
        <tr>
            <td>
                @Html.ActionLink((item.Titre_Album), "Details", new { id = item.Code_Album })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee_Album)
            </td>
            <td>
                @*<img src=@Url.Action("Pochette", "Albums", new { id = Html.DisplayFor(modelItem => item.Code_Album)   }) width="150px" />*@
            </td>
        </tr>
    }

</table>



