@model IEnumerable<Projet.Musicien>
@{
    ViewBag.Title = "ListeCompositeurs";
}

<h2>Compositeurs</h2>

<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Musicien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom_Musicien)
            </td>
        </tr>
    }

</table>

